<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 命名空间:
		一个项目里会有很多个映射文件,为了避免重名,添加命名空间
 -->
<mapper namespace="com.fuck.dao.NoteDAO">
	<select id="findAllNot" parameterType="String" resultType="java.util.Map">
		select * from cn_note where cn_notebook_id=#{fuck}
	</select>
	<select id="findOneNote" parameterType="String" resultType="com.fuck.entity.Note">
		select * from cn_note where cn_note_id=#{fuck}
	</select>
	<update id="update" parameterType="com.fuck.entity.Note">
		update cn_note set cn_note_title=#{cnNoteTitle},cn_note_body=#{cnNoteBody},cn_note_last_modify_time=#{cnNoteLastModifyTime} where cn_note_id=#{cnNoteId}
	</update>
</mapper>